#header {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    margin: auto;
    z-index: 0;
}

#imgPrincipale {
    background-image: url(imgFond.jpeg);
    height: 250px;
    text-align: center;
    font-family: fantasy;
    font-size: large;
    font-weight: bold;
    margin: auto;
    margin-top: 100px;
    padding: 100px;
    background-repeat:repeat;
    background-position: center;
}

#imgRecettes {
    
    margin: auto;
    margin-left: 2cm;
    padding: 100px;
    border-radius: 8px;
    text-align: center;
}

#p1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin:auto;
    padding: 1cm;
}

#img1{
    width: 500px;
    height: 300px;
}

h1{
    text-align: center;
    font-family: Copperplate, Copperplate Gothic Light, fantasy;
    margin:auto;
    padding: 1cm;
    
}

h2{
    text-align:center; 
    font-family: Copperplate, Copperplate Gothic Light, fantasy; 
    color:#352f5d;
    
}
#p2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin:auto;
}

#produits{
    padding: 1cm;
    text-align: center;
}


h4, h3{
    padding:0.5cm;
    font-family: Copperplate, Copperplate Gothic Light, fantasy;
    text-align: center;
    
}

#description{
    text-align: center;
    margin:auto;
}

#buttonAjout{
    padding:0.5cm;
}

h5{
    font-family:  fantasy;
    text-align: center;

}
#description{
    margin-top:1cm;
}

table{
    text-align: center;
    background-position: center;
    padding: 12px;
    border: 1px solid #ccc; 
    border-radius: 2px; 
}

#footer{
    background-image: url(foooter.jpeg);
    height: 150px;
    background-size: small;
    text-align: center;
    padding: 40px;
    background-position: center;
    background-repeat: repeat;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin:auto;
}